{% extends 'ascensor/base_admin.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row">&nbsp;</div>
    <h3 class="Titulo">Listado de ordenes</h3>
    <div class="row">&nbsp;</div>
    <div class="container-fluid ">
        <table class="table" id="cliente-tabla" >
            <thead class="thead-light">
            <tr>
                <th scope="col">Técnico</th>
                <th scope="col">Cliente</th>
                <th scope="col">Fecha</th>
                <th scope="col">Hora de inicio</th>
                <th scope="col">Hora de termino</th>
                <th scope="col">Identificador ascensor</th>            
                <th scope="col">Modelo del ascensor</th>
            </tr>
            </thead>
            <tbody id="cuerpoTabla">
                <tr>
                    <td data-label="Técnico: &nbsp">asd</td>
                    <td data-label="Cliente: &nbsp">asd</td>
                    <td data-label="Fecha: &nbsp">asd</td>
                    <td data-label="Hora de inicio: &nbsp">asd</td>
                    <td data-label="Hora de termino: &nbsp">asd</td>
                    <td data-label="Identificador ascensor &nbsp">asd</td>
                    <td data-label="Modelo del ascensor: &nbsp">asd</td>
                </tr>
            </tbody>
        </table>
    </div>
    
{% endblock %}