{% extends 'ascensor/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row">&nbsp;</div>
    <h3>Listado de ordenes</h3>
    <div class="row">&nbsp;</div>
    <div class="container-fluid ">
        <table class="table" id="cliente-tabla" >
            <thead class="thead-light">
            <tr>
                <th scope="col">Cliente</th>
                <th scope="col">Fecha</th>
                <th scope="col">Hora de inicio</th>
                <th scope="col">Hora de termino</th>
                <th scope="col">Identificador ascensor</th>            
                <th scope="col">Modelo del ascensor</th>   
            </tr>
            </thead>
            <tbody id="cuerpoTabla">
                <tr>
                    <td>asd</td>
                    <td>asd</td>
                    <td>asd</td>
                    <td>asd</td>
                    <td>asd</td>
                    <td>asd</td>
                    <td><i class="fas fa-edit text-success" title="editar"></i>&nbsp;<i class="fas fa-minus-circle text-danger" title="eliminar"></i></td>
                </tr>
            </tbody>
        </table>
        <div class="row">&nbsp;</div>
        <div class="row"><button class="btn btn-success" data-toggle="modal" data-target="#modalCliente">Nuevo Cliente</button></div>
    </div>
    <div class="modal fade" id="modalCliente" tabindex="-1" role="dialog" aria-labelledby="modalCliente" aria-hidden="true">
            <form action="ListadoClientes.html" method="post">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Cliente</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {% csrf_token %}
                        {{ form|crispy }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <input type="submit" value="Guardar Cambios" class="btn btn-primary"/>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}