{% extends 'ascensor/base_admin.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="row">&nbsp;</div>
    <h3 class="Titulo">Listado de clientes</h3>
    <div class="row">&nbsp;</div>
    <div class="container-fluid ">
        <table class="table" id="cliente-tabla" >
            <thead class="thead-light">
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Dirección</th>
                <th scope="col">Ciudad</th>
                <th scope="col">Comuna</th>            
                <th scope="col">Región</th>
                <th scope="col">Telefono</th> 
                <th scope="col">Correo contacto</th>        
                <th scope="col">Acción</th>     
            </tr>
            </thead>
            <tbody id="cuerpoTabla">
                <tr>
                    <td data-label="Nombre: &nbsp">asd</td>
                    <td data-label="Apellido: &nbsp">asd</td>
                    <td data-label="Dirección: &nbsp">asd</td>
                    <td data-label="Ciudad: &nbsp">asd</td>
                    <td data-label="Comuna: &nbsp">asd</td>
                    <td data-label="Región: &nbsp">asd</td>
                    <td data-label="Telefono: &nbsp">asd</td>
                    <td data-label="Correo contacto:&nbsp ">asd</td>
                    <td><i class="fas fa-edit text-success" title="editar"></i>&nbsp;<i class="fas fa-minus-circle text-danger" title="eliminar"></i></td>
                </tr>
            </tbody>
        </table>
        <div class="row">&nbsp;</div>
        <div class="row"><button class="btn btn-success" data-toggle="modal" data-target="#modalCliente" id="btnVarios">Nuevo Cliente</button></div>
    </div>
    <div class="modal fade" id="modalCliente" tabindex="-1" role="dialog" aria-labelledby="modalCliente" aria-hidden="true">
            <form action="ListadoClientes.html" method="post">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Agregar Cliente</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {% csrf_token %}
                        {{ form|crispy }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btnVarios">Cerrar</button>
                        <input type="submit" value="Guardar Cambios" class="btn btn-primary" id="btnVarios"/>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}